footer {
	margin:20px 0 0;
	padding:0;
	background: rgb(70,90,122);
	h2 {
		margin:0;
		padding:10px 0 5px;
		color: rgb(255,255,255);
		font-size:170%;
		font-family: 'cafetaregular';
		text-transform: uppercase;
		text-align: center;
	}
	p {
		margin:0;
		padding:0;
		line-height: 1.5em;
		color: rgb(255,255,255);
		font-size: 90%;
 	}
 	.con-bot {
		margin:25px 0 0 0;
		padding:0;
	}

}